.App {
  background-color: white;
}
.logIn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.logIn-content {
  padding-left: 12%;
  padding-right: 12%;
}
.signUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.signUp-content {
  padding-left: 12%;
  padding-right: 12%;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.contact-content {
  padding-left: 12%;
  padding-right: 12%;
}
