.main {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    width:1000px;
}
.one {
    justify-content: left;
    display: none;
    width: 33.3%;
    height: 100%;
}
.two {
    justify-content: left;
    display: flex;
    width: 33.3%;
    height: 100%;
}
.two {
  justify-content: left;
  display: flex;
  width: 50%;
  height: 100%;
}

.four {
    justify-content: right;
    text-align: left;
    display: flex;
    width: 25%;
    height: 100%;
}
.five {
    justify-content: center;
    text-align: left;
    
    width: 500px;
    height: 500px;
}
.current-title {
    height: auto;
    margin-left: auto;
    position: relative;
    display: inline-flex;
    left: 100px;
    top: 25px;
    text-align: center;
    margin-bottom: 1em;
    font-size: 15px;
    color: rgb(34, 34. 34);
    font-weight: 800;
}
.projected-title {
    height: auto;
    margin-left: auto;
    position: relative;
    left: 100px;
    top: 25px;
    text-align: center;
    margin-bottom: 1em;
    font-size: 15px;
    color: rgb(34, 34. 34);
    font-weight: 800;
}
.stock-title, .project-title {
    height: auto;
    margin-left: auto;
    position: relative;
    left: 100px;
    top: 25px;
    text-align: center;
    margin-bottom: 1em;
    font-size: 15px;
    color: rgb(34, 34. 34);
    font-weight: 800;
 }
 

.prediction-container {
    background: #e8b0e2;
   font-weight: 400;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   gap: 20px;
 }
 .prediction-Form {
     width: 500px;
     box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
     padding-top: 30px;
     padding-bottom: 20px;
     border-radius: 8px;
     background: #fafafa;
 }
 .prediction-content {
   padding-left: 12%;
   padding-right: 12%;
 }

 .prediction-title {
     text-align: center;
     margin-bottom: 1em;
     font-size: 24px;
     color: rgb(34, 34. 34);
     font-weight: 800;
 }

 input[type=text]{
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   justify-content: center;
   display: flex;
}
 .prediction-button, .prediction-historical, .prediction-symbol, .prediction-interval {
   display: flex;
   justify-content: center;
 }
 .prediction-button-button {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   cursor: pointer;
   font-size: 15px;
   background: #01d28e;
   border: 1px solid #01d28e;
   color: #fff;
   padding: 10px 20px;
 }
